aenum==2.2.4
amqp==5.0.1
apiai==1.2.3
appdirs==1.4.4
asgiref==3.2.10
astroid==2.4.2
attrs==20.1.0
autopep8==1.4.4
beautifulsoup4==4.9.1
billiard==3.6.3.0
boto3==1.14.51
botocore==1.17.51
Brotli==1.0.9
celery==5.0.1
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
click-didyoumean==0.0.3
click-repl==0.1.6
colorama==0.4.4
cycler==0.10.0
decouple==0.0.7
defusedxml==0.6.0
distlib==0.3.1
dj-database-url==0.5.0
Django==3.1.1
django-allauth==0.39.1
django-countries==5.3.3
django-crispy-forms==1.7.2
django-debug-toolbar==1.10.1
django-filter==2.3.0
django-grappelli==2.14.2
django-heroku==0.3.1
django-jazzmin==2.2.11
django-on-heroku==1.1.2
django-storages==1.9.1
docker==4.3.1
docutils==0.15.2
fbchat==1.9.7
filelock==3.0.12
gunicorn==20.0.4
idna==2.8
isort==5.6.4
jmespath==0.10.0
kiwisolver==1.2.0
kombu==5.0.2
lazy-object-proxy==1.4.3
matplotlib==3.3.2
mccabe==0.6.1
npm==0.1.1
numpy==1.19.1
oauthlib==3.0.1
optional-django==0.1.0
paho-mqtt==1.5.0
panda==0.3.1
pep8==1.7.1
Pillow==6.2.2
postgres==3.0.0
prompt-toolkit==3.0.8
psycopg2==2.8.5
psycopg2-binary==2.8.6
psycopg2-pool==1.1
pycodestyle==2.5.0
pylint==2.6.0
pyparsing==2.4.7
python-dateutil==2.8.1
python-decouple==3.1
python3-openid==3.1.0
pytz==2018.5
pywin32==227
requests==2.21.0
requests-oauthlib==1.2.0
s3transfer==0.3.3
selenium==3.141.0
six==1.15.0
soupsieve==2.0.1
sqlparse==0.2.4
stripe==2.27.0
toml==0.10.1
urllib3==1.24.2
vine==5.0.0
virtualenv==20.0.31
wcwidth==0.2.5
websocket-client==0.57.0
whitenoise==5.2.0
wrapt==1.12.1
yarn==0.0.9
