{% extends 'files/main.html' %}
{% load static %}
{% block content %}
<div class="row row-cols-1 row-cols-md-3">
{% for corrigé in corrigés %}
  <div class="col mb-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{corrigé.professeur}}</h5>
        <p class="card-text">{{corrigé.correction_name}}</p>
        <a href="{{corrigé.docFILE2}}"download><button class="btn btn-primary">Download</button></a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}