{% extends 'Files/main.html' %}
{% load static %}
{% block content %}
 <div class="row row-cols-1 row-cols-md-3">
{% for cour in cours %}
  <div class="col mb-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{cour.professeur}}</h5>
        <p class="card-text">{{cour.cour}}</p>
        <a href="{{cour.docFILE}}"download><button class="btn btn-primary">Download</button></a>
        <p class="card-text">{{cour.partie}}</p>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock content %}