{% extends 'files/main.html' %}{% load static %} {% block content %}
<div class="row row-cols-1 row-cols-md-3">
{% for exercice in exercices %}
  <div class="col mb-4">
    <div class="card">
   <div class="box-element product">
      <div class="card-body">
        <h5 class="card-title">{{exercice.professeur}}</h5>
        <p class="card-text">{{exercice.exercice}}</p>
        <a href="{{exercice.docFILE1}}"download><button class="btn btn-primary">Download</button></a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}